<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('head') -%>
		<title>About | SPIC MACAY Amrita Bangalore</title>
		<meta name="description" content="SPIC MACAY Amrita Bangalore" />
		<meta
			property="og:title"
			content="About | SPIC MACAY Amrita Bangalore"
		/>
		<meta
			property="og:url"
			content="https://spic-macay-amrita.web.app/About"
		/>
		<meta property="og:description" content="SPIC MACAY Amrita Bangalore" />
	</head>

	<body>
		<div class="main-body">
			<div class="container">
				<div class="row">
					<div class="main-page">
						<%- include('nav') -%>
						<div class="content-main">
							<div class="row">
								<div
									class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
								>
									<div class="banner-main-about margin-b-30">
										<div class="banner-main-about-text">
											<div class="heading2">
												<h1>
													SPIC MACAY ASE-B CHAPTER
												</h1>
											</div>
											<div class="desc2">
												<button
													type="button"
													onclick="window.open('/Main')"
												>
													Visit main website
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div
								id="myModal"
								class="modal fade"
								tabindex="-1"
								role="dialog"
								aria-hidden="true"
							>
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-body">
											<img
												src="images/about-img-2.jpg"
												alt="Image"
												class="img-responsive"
											/>
										</div>
									</div>
								</div>
							</div>
							<div
								id="myModal2"
								class="modal fade"
								tabindex="-1"
								role="dialog"
								aria-hidden="true"
							>
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-body">
											<img
												src="images/about-img-3.jpg"
												alt="Image"
												class="img-responsive"
											/>
										</div>
									</div>
								</div>
							</div>
							<div
								id="myModal3"
								class="modal fade"
								tabindex="-1"
								role="dialog"
								aria-hidden="true"
							>
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-body">
											<img
												src="images/about-img-4.jpg"
												alt="Image"
												class="img-responsive"
											/>
										</div>
									</div>
								</div>
							</div>
							<div class="row about-box-main">
								<div
									class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
								>
									<div class="cards">
										<div class="box about_box_line card">
											<div class="box-icon">
												<img
													src="images/about-img-2.jpg"
													alt="Image"
													class="img-responsive"
												/>
												<div class="inner_search">
													<div
														class="search_icon text-center Absolute-Center"
														data-toggle="modal"
														data-target="#myModal"
													>
														<i
															class="fa fa-file-image-o"
														></i>
													</div>
												</div>
											</div>
											<!-- .box-icon -->
											<div class="info">
												<div class="about_box_title">
													<h3>About us</h3>
													<h4>Our Mission</h4>
												</div>
											</div>
											<div class="line"></div>
											<p class="about_box_text">
												Have every child experience the
												inspiration and mysticism
												embodied in Indian and World
												heritage
											</p>
										</div>

										<div class="box about_box_line card">
											<div class="box-icon">
												<img
													src="images/about-img-3.jpg"
													alt="Image"
													class="img-responsive"
												/>
												<div class="inner_search">
													<div
														class="search_icon text-center Absolute-Center"
														data-toggle="modal"
														data-target="#myModal2"
													>
														<i
															class="fa fa-file-image-o"
														></i>
													</div>
												</div>
											</div>
											<div class="info">
												<div class="about_box_title">
													<h3>About Us</h3>
													<h4>Who we are</h4>
												</div>
											</div>
											<div class="line"></div>
											<p class="about_box_text">
												SPICMACAY ASE_B chapter was
												initiated in 2010. The society
												includes 20 active participants
												from all over India.
											</p>
										</div>

										<div class="box about_box_line card">
											<div class="box-icon">
												<img
													src="images/about-img-4.jpg"
													alt="Image"
													class="img-responsive"
												/>
												<div class="inner_search">
													<div
														class="search_icon text-center Absolute-Center"
														data-toggle="modal"
														data-target="#myModal3"
													>
														<i
															class="fa fa-file-image-o"
														></i>
													</div>
												</div>
											</div>
											<div class="info">
												<div class="about_box_title">
													<h3>About Us</h3>
													<h4>Mentor</h4>
												</div>
											</div>
											<div class="line"></div>
											<p class="about_box_text">
												Dr. Geeta KN currently serves as
												a mentor for the organization.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<%- include('footer') -%>
				</div>
			</div>
			<%- include('scripts') -%>
		</div>
	</body>
</html>
