<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ga.ejs %> <% include head.ejs %>
		<title>Contact | SPIC MACAY Amrita Bangalore</title>
		<meta name="description" content="SPIC MACAY Amrita Bangalore" />
		<meta
			property="og:title"
			content="Contact | SPIC MACAY Amrita Bangalore"
		/>
		<meta
			property="og:url"
			content="https://spic-macay-amrita.web.app/Contact"
		/>
		<meta property="og:description" content="SPIC MACAY Amrita Bangalore" />
	</head>

	<body class="contact-page">
		<div class="main-body">
			<div class="container">
				<div class="row">
					<div class="main-page">
						<% include nav.ejs %>
						<div class="content-main contact-content">
							<div class="contact-content-upper">
								<div class="row">
									<div
										class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
									>
										<div class="gallery_title">
											<h3>ACCORD</h3>
											<h4>Proin gravida nibhISI</h4>
										</div>
									</div>
								</div>

								<div class="row">
									<div
										class="col-sm-12 col-md-6 contact_left"
									>
										<form
											class="form-horizontal"
											method="post"
											action="https://formspree.io/spicmacay.aseb77@gmail.com
"
										>
											<div class="form-group">
												<input
													type="text"
													class="form-control"
													id="name"
													name="name"
													placeholder="NAME..."
													value=""
												/>
											</div>

											<div class="form-group">
												<input
													type="email"
													class="form-control"
													id="email"
													name="email"
													placeholder="EMAIL..."
													value=""
												/>
											</div>

											<div class="form-group">
												<input
													type="text"
													class="form-control"
													id="subject"
													name="subject"
													placeholder="SUBJECT..."
													value=""
												/>
											</div>

											<div class="form-group">
												<textarea
													class="form-control"
													rows="4"
													name="message"
													placeholder="MESSAGE..."
												></textarea>
											</div>

											<div class="form-group">
												<input
													id="submit"
													type="submit"
													value="Send"
													class="btn view_more btn-submit"
												/>
											</div>
										</form>
									</div>

									<div
										class="col-sm-12 col-md-6 contact_right"
									>
										<div class="col-md-12 contact_title">
											CONTACT
										</div>

										<div
											class="col-md-12 contact_sub_title"
										>
											LOREM IPSUM NEC SAGITTIS
										</div>

										<div class="col-md-12 contact_text">
											Accord is free Bootstrap theme by
											templatemo. Proin gravida nibh vel
											velit auctor aliquet. Aenean
											sollicitudi lorem quis bibendum
											auctor, nisi elit consequat ipsum
											nec sagittis semg nibh.
										</div>

										<div class="col-md-12 contact_info">
											<a
												href="mailto:spicmacay.aseb77@gmail.com"
												class="contact-info-link"
											>
												<i
													class="fa fa-envelope contact-fa"
												></i
												>spicmacay.aseb77@gmail.com</a
											><br />
											<a
												href="tel:+916362436781"
												class="contact-info-link"
											>
												<i
													class="fa fa-phone contact-fa"
												></i
												>(+91) 636 243 6781</a
											><br />
											<a
												href="tel:+919535897518"
												class="contact-info-link"
											>
												<i
													class="fa fa-phone contact-fa"
												></i
												>(+91) 953 589 7518</a
											><br />
										</div>

										<div class="col-md-12">
											<span
												><i
													class="fa fa-rss social-icon rss_icon"
												></i
											></span>
											<span
												><i
													class="fa fa-twitter social-icon twitter_icon"
												></i
											></span>
											<span
												><i
													class="fa fa-facebook social-icon facebook_icon"
												></i
											></span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div
									class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
								>
									<iframe
										id="google-map"
										src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.205397501878!2d77.67289511413446!3d12.894510220055588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae13479f912c41%3A0x5919577ad754c73e!2sAmrita%20School%20of%20Engineering!5e0!3m2!1sen!2sin!4v1568459796826!5m2!1sen!2sin"
										width="100%"
										height="100%"
										frameborder="0"
										style="border:0;"
										allowfullscreen="true"
									></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% include footer.ejs %>
			</div>
		</div>
		<% include scripts.ejs %>
	</body>
</html>
