<!DOCTYPE html>
<html lang="en">
	<head>
		<% include head.ejs %>
		<title>Event Name | SPIC MACAY Amrita Bangalore</title>
		<meta
			name="description"
			content="SPIC MACAY Amrita Bangalore"
		/>
		<meta property="og:title" content="Event Name | SPIC MACAY Amrita Bangalore" />
		<meta property="og:url" content="https://spic-macay-amrita.web.app/Event URL" />
		<meta
			property="og:description"
			content="SPIC MACAY Amrita Bangalore"
		/>
	</head>

	<body>
		<div class="main-body">
			<div class="container">
				<div class="row">
					<div class="main-page">
						<% include nav.ejs %>
						<div class="content-main">
							<div class="row">
								<div
									class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
								>
									<div class="box bottom-main">
										<div class="info float-container">
											<div class="col-sm-12 bottom-title">
												<h3 class="text-uppercase">
													Event name
												</h3>
												<h4 class="text-uppercase">
													2 - 3 words
												</h4>
											</div>
											<!-- <div class="row">
												<div
													class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4"
												>
													<div class="bottom-img">
														<img
															src="images/home-img-4.jpg"
															alt="Image"
														/>
														<p class="first">
															Pic 1
														</p>
													</div>
												</div>
												<div
													class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4"
												>
													<div class="bottom-img">
														<img
															src="images/home-img-5.jpg"
															alt="Image"
														/>
														<p class="second">
															Pic 2
														</p>
													</div>
												</div>
												<div
													class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4"
												>
													<div class="bottom-img">
														<img
															src="images/home-img-6.jpg"
															alt="Image"
														/>
														<p class="third">
															Pic 3
														</p>
													</div>
												</div>
											</div> -->
											<p class="bottom-desc">
												Description of week
											</p>
											<hr />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% include footer.ejs %>
			</div>
		</div>
		<% include scripts.ejs %>
	</body>
</html>
