<footer class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer">
		<p class="copyright">
			© Copyright SPIC MACAY Amrita 2019 | Made and maintained by
			<a href="https://www.linkedin.com/in/sahana-shenoy-364280187/"
				>Sahana Shenoy</a
			>
			and
			<a href="https://linkedin.com/in/aravindvnair99/">Aravind V Nair</a>
		</p>
	</div>
</footer>
