<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ga.ejs %> <% include head.ejs %>
		<title>Freebie Shark | SPIC MACAY Amrita Bangalore</title>
		<meta name="description" content="SPIC MACAY Amrita Bangalore" />
		<meta
			property="og:title"
			content="Freebie Shark | SPIC MACAY Amrita Bangalore"
		/>
		<meta
			property="og:url"
			content="https://spic-macay-amrita.web.app/FreebieShark"
		/>
		<meta property="og:description" content="SPIC MACAY Amrita Bangalore" />
	</head>

	<body>
		<div class="main-body">
			<div class="container">
				<div class="row">
					<div class="main-page">
						<% include nav.ejs %>
						<div class="content-main">
							<div class="row">
								<div
									class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
								>
									<div class="box bottom-main">
										<div class="info float-container">
											<div class="col-sm-12 bottom-title">
												<h3 class="text-uppercase">
													Freebie Shark
												</h3>
												<h4 class="text-uppercase">
													Come let's bid
												</h4>
											</div>
											<!-- <div class="row">
												<div
													class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4"
												>
													<div class="bottom-img">
														<img
															src="images/home-img-4.jpg"
															alt="Image"
														/>
														<p class="first">
															Pic 1
														</p>
													</div>
												</div>
												<div
													class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4"
												>
													<div class="bottom-img">
														<img
															src="images/home-img-5.jpg"
															alt="Image"
														/>
														<p class="second">
															Pic 2
														</p>
													</div>
												</div>
												<div
													class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4"
												>
													<div class="bottom-img">
														<img
															src="images/home-img-6.jpg"
															alt="Image"
														/>
														<p class="third">
															Pic 3
														</p>
													</div>
												</div>
											</div> -->
											<p class="bottom-desc">
												<strong
													>Date: 20th September
													2019</strong
												><br /><br />
												Wondered when heard about this
												event? Cool, it’s an Auction.<br />
												Experience the thrill of bidding
												by reaching us for the closure
												of Sameeksha.<br />Rules and
												Regulations will be instructed
												at the venue.<br />
											</p>
											<hr />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% include footer.ejs %>
			</div>
		</div>
		<% include scripts.ejs %>
	</body>
</html>
