<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ga.ejs %>
		<% include head.ejs %>
		<title>SPIC MACAY Amrita Bangalore</title>
		<meta name="description" content="SPIC MACAY Amrita Bangalore" />
		<meta property="og:title" content="SPIC MACAY Amrita Bangalore" />
		<meta property="og:url" content="https://spic-macay-amrita.web.app/" />
		<meta property="og:description" content="SPIC MACAY Amrita Bangalore" />
	</head>

	<body>
		<div class="main-body">
			<div class="container">
				<div class="row">
					<div class="main-page">
						<% include nav.ejs %>
						<div class="content-main">
							<div class="row margin-b-30">
								<div
									class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
								>
									<div class="banner-main-home">
										<div class="banner-main-home-text">
											<div class="heading">
												<p>Welcome to</p>
												<h1>SPIC MACAY</h1>
												<p class="text-uppercase">
													Society for Promotion of
													Indian Classical Music and
													Culture Amongst Youth
												</p>
											</div>
											<div class="desc">
												<p>
													SPIC MACAY is a
													non-political nationwide
													voluntary movement that
													organises programmes of
													classical music and dance,
													folk arts, crafts, yog,
													classic cinema screenings,
													heritage walks, etc. inside
													school and college campuses
													throughout the world to make
													students more aware about
													Indian and world heritage.
													This initiative makes
													education more holistic and
													meaningful as it highlights
													all that is abstract,
													subtle, inspiring and
													mystical in the world
													teaching one to look within
													oneself. SPIC MACAY runs on
													the energy of volunteers who
													come from all walks of life
													- students, teachers,
													housewives, professional and
													retired people, young and
													old. Nishkam Seva is a key
													aspect of the movement.
												</p>
												<button
													type="button"
													onclick="window.open('/Main')"
												>
													Visit main website
												</button>
											</div>
										</div>
										<img
											src="images/home-img-1.png"
											alt="Image"
											class="img-responsive"
										/>
									</div>
								</div>
							</div>
							<div class="row margin-b-30">
								<div
									class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
								>
									<div class="box london">
										<div class="box-icon">
											<img
												src="images/home-img-2.jpg"
												alt="Image"
												class="img-responsive"
											/>
										</div>
										<div class="info float-container">
											<div class="col-sm-12 london-title">
												<h3 class="text-uppercase">
													Event title
												</h3>
												<h4 class="text-uppercase">
													2 - 3 words
												</h4>
											</div>
											<p>
												Description
											</p>
											<hr />
											<div
												class="col-sm-12 location-main"
											>
												<div class="pull-left location">
													<i
														class="fa fa-map-marker fa-2x"
													></i
													><span>Location</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div
									class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
								>
									<div class="box paris">
										<div class="box-icon">
											<img
												src="images/home-img-3.jpg"
												alt="Image"
												class="img-responsive"
											/>
										</div>
										<div class="info float-container">
											<div class="col-sm-12 london-title">
												<h3 class="text-uppercase">
													Event title
												</h3>
												<h4 class="text-uppercase">
													2 - 3 words
												</h4>
											</div>
											<p>
												Description
											</p>
											<hr />
											<div
												class="col-sm-12 location-main"
											>
												<div class="pull-left location">
													<i
														class="fa fa-map-marker fa-2x"
													></i
													><span>Location</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div
									class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
								>
									<div class="box bottom-main">
										<div class="info float-container">
											<div class="col-sm-12 bottom-title">
												<h3 class="text-uppercase">
													SPIC MACAY week
												</h3>
												<h4 class="text-uppercase">
													2 - 3 words
												</h4>
											</div>
											<div class="row">
												<div
													class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4"
												>
													<div class="bottom-img">
														<img
															src="images/home-img-4.jpg"
															alt="Image" onclick="window.open('/StoryBehindPicture')"
														/>
														<p class="first">
															<a href="/StoryBehindPicture">Story Behind the
															Pictures</a>
														</p>
													</div>
												</div>
												<div
													class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4"
												>
													<div class="bottom-img">
														<img
															src="images/home-img-5.jpg"
															alt="Image"
														/>
														<p class="second">
															Shinkei-Suijaku
														</p>
													</div>
												</div>
												<div
													class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4"
												>
													<div class="bottom-img">
														<img
															src="images/home-img-6.jpg"
															alt="Image"
														/>
														<p class="third">
															Pot Breaking for
															Girls
														</p>
													</div>
												</div>
											</div>
											<br />
											<div class="row">
												<div
													class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4"
												>
													<div class="bottom-img">
														<img
															src="images/home-img-4.jpg"
															alt="Image"
														/>
														<p class="first">
															Terra Cotta
														</p>
													</div>
												</div>
												<div
													class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4"
												>
													<div class="bottom-img">
														<img
															src="images/home-img-5.jpg"
															alt="Image"
														/>
														<p class="second">
															Mix and Match
														</p>
													</div>
												</div>
												<div
													class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4"
												>
													<div class="bottom-img">
														<img
															src="images/home-img-6.jpg"
															alt="Image"
														/>
														<p class="third">
															Freebie Shark
														</p>
													</div>
												</div>
											</div>
											<p class="bottom-desc">
												SPIC MACAY Week will be observed
												in ASE-B from 16th September
												2019 to 20th September 2019.
												Events will be conducted daily
												this week from 15:30 at
												Sudhamani Hall. Participants are
												expected to arrive with a team
												of 2.
											</p>
											<!-- <hr />
											<div
												class="col-sm-12 location-main"
											>
												<div
													class="pull-right bottom-user"
												>
													<a href="#"
														><i
															class="fa fa-caret-right"
														></i
														><span
															>READ MORE</span
														></a
													>
												</div>
											</div> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% include footer.ejs %>
			</div>
		</div>
		<% include scripts.ejs %>
	</body>
</html>
